In [ ]:
1.
SELECT SUBSTRING(FIRST_NAME,1,3) FROM WORKER;

In [ ]:
2.
SELECT INSTR(FIRST_NAME, BINARY'a') FROM WORKER WHERE FIRST_NAME = 'Amitabh';

In [ ]:
3.
SELECT EmpName FROM EmpDetails WHERE (DeptID,Salary) IN (SELECT DeptID, MAX(Salary) FROM EmpDetails GROUP BY DeptID)