In [ ]:
1.
SELECT salary FROM Employee e1 WHERE
        4 = (SELECT COUNT(DISTINCT salary)FROM Employee e2 where e2.sal > e1.sal)

In [ ]:
2.
SELECT e1.Name, e1.id, e1.Salary
FROM emp s1
INNER JOIN emp s2 ON e1.Salary = e2.Salary AND e1.Name <> e2.Name