In [ ]:
1.
SELECT REPLACE(first_name, "a", "A") FROM worker;

In [ ]:
2.
SELECT * FROM worker ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

In [ ]:
3.
SELECT FIRST_NAME FROM Worker WHERE SALARY = (SELECT max(SALARY) FROM Worker)