In [ ]:
1.
SELECT RTRIM(FIRST_NAME) FROM WORKER;

In [ ]:
2.
SELECT DISTINCT department, LENGTH(department) FROM WORKER;

In [ ]:
3.
SELECT salary FROM Employee e1 WHERE N-1 = (SELECT COUNT(DISTINCT salary) FROM Employee e2 WHERE e2.salary > e1.salary)