In [ ]:
1.
SELECT t.First, t.Last
FROM (SELECT *, Row_Number() OVER(ORDER BY First, Last) AS RowNumber FROM Table1) t
WHERE t.RowNumber % 2 = 1

In [ ]:
2.
CREATE TABLE new_table SELECT * FROM original_table;